body {
  background-color: #f4f6f8;
  font-family: 'Inter', sans-serif;
  color: #2c3e50;
}

.headerdiv,
.entertaskesdiv,
.tasksdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #34495e;
}

input {
  padding: 12px;
  border: 2px solid #bdc3c7;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  background: #ecf0f1;
  color: #2c3e50;
}

input:focus {
  border-color: #2980b9;
  outline: none;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ecf0f1;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 500px;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
}

.task-list {
  max-width: 600px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  align-items: center;
}

.pathtosignin,
.pathtologin {
  padding: 12px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signinplatforms,
.entertaskesdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signinplatforms input,
.signinplatforms button {
  margin: 5px;
}
.entertaskesdiv input,
.entertaskesdiv button{
  margin: 5px;
}
.todolistback {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #85c1e9, #d7dbdd);
  padding: 20px;
  margin: 12px 0;
  border-radius: 12px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  transition: 0.3s ease-in-out;
  color: black;
}
